:root {
  /* Paleta base que definiste en Android */
  --ion-color-primary: #0B5FFF;
  --ion-color-primary-contrast: #FFFFFF;

  --ion-color-secondary: #1E40AF;
  --ion-color-secondary-contrast: #FFFFFF;

  --ion-background-color: #F8FAFC;  /* fondo general claro */
  --ion-text-color: #0F172A;         /* texto oscuro para contraste */

  --ion-color-light: #FFFFFF;
  --ion-color-light-contrast: #111827;

  --ion-color-success: #4CAF50;
  --ion-color-success-contrast: #FFFFFF;

  --ion-color-danger: #F44336;
  --ion-color-danger-contrast: #FFFFFF;

  --ion-toolbar-background: var(--ion-color-light);
  --ion-toolbar-color: var(--ion-color-light-contrast);
}