/* src/pages/Perfil.css */
.avatar-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 12px auto 0 auto;
}
.avatar-120 {
  width: 120px;
  height: 120px;
}
.edit-fab {
  position: absolute;
  right: -4px;
  bottom: -4px;
  --border-radius: 50%;
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 8px;
  --padding-bottom: 8px;
}
.name-item {
  margin-top: 12px;
}
.name-input {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.non-edit-info {
  padding: 8px;
}